body
{
    background: linear-gradient(red, blue);
    background-attachment:fixed ;
}
.picturelange
{
    width:"49";
    height:"40"
}
.title 
{
    font :caption;
    color :rgb(43, 255, 6); 
    font-size: 1cm;
    font-style: italic;
}
.socondTitle
{
    color: rgb(255, 230, 0);
    font-size: 0.75cm;
}
.list
{
    background-color:aqua;
    border: 4px ;
    border-style :outset;
    border-color: rgb(0, 114, 114);
    width: 9cm;
    height: 0,5 cm;
    font: large;
    color:  #730101;
    font-family:Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    text-decoration: dotted underline;
    font-style: initial;
    font-size: 25px;
}